@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');


body {
    background-image: url('https://cdnb.artstation.com/p/assets/images/images/012/370/613/large/steve-lund-castle-color2.jpg?1534439770'); 
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Playfair Display SC", serif; 
    font-weight: 400;
    font-style: normal; 
}

.logo {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    display: flex;
    font-size: 60px;
    justify-content: center;
}

    #start-btn {
    margin: 20px; 
    padding: 15px 30px;
    font-size: 18px; 
    color: white;
    background-color: red
  }

    #restart-btn {
    margin: 20px; 
    padding: 15px 30px;
    font-size: 18px; 
    color: white;
    background-color: blue
  }

    #submit-btn {
    margin: 20px; 
    padding: 15px 30px;
    font-size: 18px; 
    color: white;
    background-color: black
  }

  #quiz-container {
    margin: 400px;
    padding: 400px;
    border: 10px solid black;
    display: flex;
  }